/* Stylesheet for entire website */

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*body*/
    body {
        margin: 0;
        background-color: #ffeabc;
    }


/*back to top button*/
    .backToTop {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 3%;
        height: 6%;
        position: fixed;
        right: 5%;
        bottom: 5%;
        background-color: #11283fad;
        border-radius: 5px;
        padding: 4px 4px;
        z-index: 2;
    }

/*navbar*/
    .navbar {
        position: relative;
        z-index: 10;
        background-color: #1F202C;
        text-align: center;
        padding: 5px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 6px 50px rgba(0, 0, 0, 0.8);
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 6px 30px;
        font-family: "Figtree", sans-serif;
        font-size: 22px;
        display: inline-block;
        transition: color 0.2s;
    }

    .navbar a:hover {
        color: rgb(255, 173, 20);
        border-radius: 5px;
        cursor: pointer;
    }


/*FOOTER*/
    .footerBar {
        background-color: #1F202C;
        padding: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .footerText {
        color: white;
        font-family: "Figtree", sans-serif;
        font-size: 14px;
    }

/*INDEX EXCLUSIVE*/

    /*HERO SECTION*/

        .hero {
            height: 100vh;
            background-image: url("Assets/BurgerBanner.png");
            background-size: 110%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            text-align: center;
            color: white;
            transition: background-position 0.5s ease-out;
        }

        .heroText {
            font-size: 156px;
            margin-top: 15%;
            font-family: "Merriweather Sans", sans-serif;
        }

        .heroBtn {
            display: inline-block;
            margin-top: 15px;
            padding: 12px 30px;
            background: #1F202C;
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: bold;
            border-radius: 20px;
            transition: color 0.4s, transform 0.4s, box-shadow 0.4s;
        }

        .heroBtn:hover {
            background: #ffab7a;
            transform: translateY(-3px);
            color: rgb(0, 0, 0);
            box-shadow: 0 6px 50px rgba(0, 0, 0, 0.8);
        }


    /*HOME GRID ITEMS*/
            
        .container {
        color: #ffffff;
        display: grid;
        grid-template-areas: "homeMenu homeAbout homeRes";
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        font-family: "Figtree", sans-serif;
        margin: auto 200px;
        border-radius: 20px;
        padding-bottom: 2%;
        }

        .container img {
        border-radius: 15px;
        }

        .container > div {
        background: #1F202C;
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
        outline: #7a7a7a solid 5px;
        }

        .container div h1 {
        background: #d9d9d9;
        color: #1F202C;
        margin: -10px -10px 10px -10px;
        padding: 15px;
        border-radius: 20px 20px 0 0;
        }

        .container div.homeMenu {
        grid-area: homeMenu;
        text-align: center;
        padding: 10px;
        }

        .container div.homeAbout {
        grid-area: homeAbout;
        text-align: center;
        padding: 10px;
        }

        .container div.homeRes {
        grid-area: homeRes;
        text-align: center;
        padding: 10px;
        }

        .gridButton {
        color: black;
        font-family: "Figtree", sans-serif;
        font-size: 32px;
        padding: 5px 30px;
        background-color: #ffab7a;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        transition:
            background-color 0.3s,
            color 0.3s;
        }

        .gridButton:hover {
        background-color: #ffffff;
        cursor: pointer;
        }
    
    /*ADVERT BANNER*/
        .homeBanner {
            background-color: #ffb978;
            display: flex;
            gap: 60px;
            padding-bottom: none;
            margin-bottom: 50px;
        }

        .homeBannerImg {
            height: 400px;
            display: block;
        }

        .homeBannerText {
            color: #1F202C;
            align-self: center;
            font-family: "Merriweather Sans", sans-serif;
            font-size: 20px;
        }



/*MENU EXCLUSIVE*/

    .menuTitle {
        font-family: "Merriweather Sans", sans-serif;
        text-align: center;
        color: #1F202C;
        font-size: 48px;
        margin-top: 40px;
    }

    .foodCard {
        font-family: "figtree", sans-serif;
        text-align: center;
        border-radius: 20px;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .foodCard h1 {
        margin: -40px -40px 10px -40px;
    }

    .foodCard img {
        align-self: center;
    }


/*RESERVATION EXCLUSIVE*/

    .reserveTitle {
        font-family: "Merriweather Sans", sans-serif;
        text-align: center;
        color: #1F202C;
        font-size: 48px;
        margin-top: 40px;
    }

    .reserveContainer {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: flex-start;
        margin-top: 3%; 
        flex-wrap: wrap;
    }

    .reserveLeft {
        display: flex;
        flex-direction: column;
    }

    .reserveRight {
        display: flex;
        flex-direction: column;
    }

    .reserveForm {
        width: 586px;
        height: 600px;
        font-family: "figtree", sans-serif;
        color: white;
        background-color: #1F202C;
        border-radius: 20px;
        padding: 30px;
        gap: 15px;
        display: flex;
        margin: auto;
        margin-bottom: 40px;
        flex-direction: column;
        border-width: 10px;
        outline: #7a7a7a solid 5px;
    }

    .reserveFormRow {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    #message {
        width: 572px;
        height: 220px;
        resize: none;
        font-size: 16px;
    }

    #urgency {
        width: 400px;
    }

    .submitButton {
        color: black;
        font-family: "merriweather sans", sans-serif;
        font-size: 32px;
        padding: 5px 30px;
        background-color: #ffab7a;
        border-radius: 10px;
        border: none;
        margin: auto;
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    .submitButton:hover {
        color: rgb(0, 0, 0);
        font-family: "merriweather sans", sans-serif;
        font-size: 32px;
        padding: 5px 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    .reserveFormRow div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .reserveForm input {
        font-family: "Figtree", sans-serif;
        font-size: 16px;
        padding: 10px;
        width: 572px;
        border-radius: 8px;
        border: 2px solid #ffffff;
        background-color: #fffaf0;
        outline: #7a7a7a solid 2px;
    }

    .reserveFormRow.dateGuestsRow input {
        width: 268px;
    }

    .reserveForm textarea {
        font-family: "Figtree", sans-serif;
        font-size: 16px;
        padding: 10px;
        border-radius: 8px;
        outline: #7a7a7a solid 2px;
        outline: none;
        background-color: #fffaf0;
    }

    .successMessage {
        width: 586px;
        height: 600px;
        font-family: "figtree", sans-serif;
        background-color: #1F202C;
        border-radius: 20px;
        padding: 30px;
        gap: 15px;
        display: flex;
        font-size: 64px;
        margin: auto;
        margin-bottom: 40px;
        align-items: center;
        flex-direction: column;
        border-width: 10px;
        outline: #7a7a7a solid 5px;
    }

    .contactBox {
        font-family: "figtree", sans-serif;
        width: 400px;
        height: 200px;
        color: white;
        padding: 15px;
        background-color: #1F202C;
        border-radius: 20px;
        display: block;
        border-width: 10px;
        outline: #7a7a7a solid 5px;
    }


.faqMenu {
    width: 400px;
    font-family: "figtree", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 5%;
    padding-right: 5%;
}

.faqMenu h2 {
  text-align: center;
  margin-bottom: 0%;
  font-size: 38px;
  color: #1F202C;
}

.faqItem {
    border-radius: 10px;
    margin-top: 6px;
    overflow: hidden;
    outline: #7a7a7a solid 5px;
}

.faqTitle {
    background-color: #1F202C;
    font-family: "merriweather sans", sans-serif;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    text-align: left;
    border: none;
    width: 100%;
}

.faqContent {
    background-color: #fef4e0;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}